$color__primary:#d9edf7;
$color__accent:  #8680ff;
$color__acccent-light:#b89ab7;


$color__gray_super_lighter: #fbfbfb;
$color__gray_lighter: #f6f6f6;
$color__gray-light: #aaa;
$color__green-dark: #141e1f;
$color__gray-darkest: #000;


$color__body: #fff;
