@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// primary font
$primary_font:'Handlee';
// secondary font
$secondary_font:'Noto Serif', serif;
$text_font:'Montserrat';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

