/* You can add global styles to this file, and also import other style files */
/* *****VARIABLES******* */
@import './assets/variables-site/colors.scss';
@import './assets/variables-site/fonts.scss';
@import './assets/variables-site/structure.scss';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* *****MIXINS******* */
@import './assets/mixins/mixins-master.scss';

/* *****BREAKPOINTS******* */
@import './assets/variables-site/breakpoints.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


